// Colors
$primaryShadowColor: rgba(0,0,0,0.75);

// Padding
$padding5: 5px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;

// Margin
$margin5: 5px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;